.bgimage {
    height:100vh;
    background: url('images/bg.png');
    background-size:cover;
    position:relative;
}
@media screen and (min-width: 800px) {
.container {
margin: 1em 2em;
}
}
/* configuração do texto */
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.imageAboutPage{
    width: 100%;
    clip-path: circle();
}

/* cada card com 280px de altura e apontador como seta do mouse */
.servicesText.card {
    height: 280px;
    cursor: pointer;
}


/* ícones com tamanho 36px e alinhados ao centro */
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}


/* título dos cards ao centro */
.card-title {
    text-align: center;
}


/* ao serem selecionados, os ícones cards mudam de cor */
.card:hover .servicesIcon {
    color: purple;
}


/* ao ser selecionado, o card terá borda colorida */
.servicesText:hover {
    border: 2px solid purple;
}
.navbarScroll.navbarDark{
    background-color: black;
}
/* tamanho dos ícones */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.botaoAgendar{
    text-decoration: none;
    color: white;
}
/* cor quando selecionado */
.fa-instagram:hover {
    color: grey;
}


/* cor padrão */
.fab {
    color: white;
}
/* cor padrão de fundo */
#footer {
    background-color: #B29B44;
    text-align: center;
}


/* espaçando as seções */
#about, #services, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
}
#contact {
    padding-bottom: 4rem;
}
#portfolio{
    font-size: 50px;
    text-align: center;
}
.carousel{
    width: 450px;
    height: 900px;
}
